.search-bar {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 30px 0;
    padding-left: 40px;
    padding-right: 40px;
    background: #ffffff;
}

.left-search-bar {
    display: flex;
/*    border: 1px dotted hotpink; */
    justify-content: center;
    align-content: center;
    align-items: baseline;
}

.instagram-text-logo {
    margin-left: 15px;
}

.insta-icon {
    padding-right: 15px;
    border-right: 1px solid black;
}

/*
.instagram-text-logo {
    border: 1px dotted firebrick; 
}
*/

.instagram-link {
    text-decoration: none;
    color: black;
    font-style: italic;
    display: flex;
    font-size: 1.8rem;
/*  border: 1px dotted orange; */
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    padding: 0 50px 0 50px;
    height: 28px;
    width: 148px;
    color: #bababa;
    border-radius: 4px;
}

.search-icon {
    color: #bababa;
}

.search-text {
    color: #bababa;
    margin-left: 5px;
}

.right-search-bar {
    display: flex;
    justify-content: space-between;
/*    border: 1px dotted orange; */
    margin: 30px;
    width: 150px;
}

.profile-icon {
    color: lightgray;
    /*    border: 1px dotted orange; */
}

.heart-icon {
    color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
/*    border: 1px dotted orange; */
}

.profile-icon {
    color: lightgray;
    /*    border: 1px dotted orange; */
}